# Requirments.txt
torch
transformers
datasets
peft
pandas
tabulate
scikit-learn
pyaml
tensorly
huggingface_hub[cli]
sentencepiece
lightning
lightning[pytorch-extra]  >=2.2.0
# matplotlib
# tntorch
# wandb
# seaborn
# line_profiler

