# Requirments.txt
torch
transformers
datasets
peft
pandas
tabulate
scikit-learn
pyaml
tensorly
huggingface_hub[cli]
sentencepiece
lightning[pytorch-extra]  >=2.2.0
jsonargparse[signatures]  >=4.27,<5
# matplotlib
# tntorch
# wandb
# seaborn
# line_profiler

